* {
    margin: 0;
    padding: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #323232;
    font-family: 'Caveat', cursive;
}

h2 {
    font-size: 1.17em;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #323232;
    font-size: 1.5em;
    outline: none;
    font-family: 'Caveat', cursive;
}

/* #region Header */
header {
    width: 100%;
    height: 60px;
    text-align: center;
    color: #fff;
}
header h1 {
    font-size: 3em;
}
header h1 a {
    color: #fff;
    text-decoration: none;
}
/* #endregion Header */

/* #region Main */
main {
    min-height: calc(100% - 60px - 120px - 60px);
    position: relative;
    padding-bottom: 120px;
}
/* #region Error */
main .error {
    display: none;
    position: absolute;
    width: calc(40% - 10px);
    min-width: 310px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #cf2828cc;
    left: 50%;
    top: 25px;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 1.5em;
    z-index: 1;
    animation: fadeOut .3s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    pointer-events: none;
    font-family: Arial, sans-serif;
    padding: 5px;
}
main .error.error-visible {
    display: block;
}
/* #endregion Error */
/* #region ID */
main .poll-id {
    position: absolute;
    right: 30%;
    top: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 1.75em;
}
/* #endregion ID */
/* #region notepad */
main .notepad {
    position: relative;
    top: 60px;
    width: 40%;
    min-width: 320px;
    background-color: #ffd756;
    margin-left: auto;
    margin-right: auto;
}
main .notepad .poll-title {
    height: 70px;
    font-size: 0.9em;
}
main .notepad .poll-title input {
    font-size: 2em;
    font-weight: bold;
}
main .notepad .poll-option {
    height: 50px;
}
main .notepad .poll-title,
main .notepad .poll-option {
    border-bottom: 2px solid #b1b874;
}
main .notepad .poll-footer {
    height: 180px;
    padding: 10px;
    padding-bottom: 0;
    font-family: Arial, sans-serif;
}
main .notepad .poll-title,
main .notepad .poll-option,
main .notepad .poll-footer {
    padding-left: 10%;
    padding-right: 5px;
    width: calc(90% - 5px);
    position: relative;
}

main .notepad .poll-options .poll-option .input-container {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    top: 13px;
}

main .notepad .poll-options .poll-option input[type="checkbox"],
main .notepad .poll-options .poll-option input[type="radio"] {
    appearance: none;
    position: absolute;
    vertical-align: top;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #b1b874;
    border-radius: 5px;
    margin-right: 5px;
}
main .notepad .poll-options .poll-option svg.checkmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #cf2828;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    margin: 10% auto;
}
main .notepad .poll-options .poll-option div.checkmark {
    position: absolute;
    top: -25px;
    left: -20px;
    display: none;
    pointer-events: none;
}
main .notepad .poll-options .poll-option input[type="checkbox"]:checked ~ div.checkmark,
main .notepad .poll-options .poll-option input[type="radio"]:checked ~ div.checkmark {
    display: block;
}
main .notepad .poll-options .poll-option .text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 25px - 5px);
    height: 100%;
}

main .notepad-border {
    position: absolute;
    left: 5%;
    height: 100%;
    width: 5px;
    border-left: 2px solid #cf2828;
    border-right: 2px solid #cf2828;
}
/* #endregion notepad */
/* #region notepad-footer */
main .notepad .poll-footer input[type="submit"],
main .notepad .poll-footer button {
    padding: 0 30px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #404040;
    cursor: pointer;
    font-size: 1.25em;
    transition: background-color 0.2s;
    color: #fff;
    margin-right: 5px;
}
main .notepad .poll-footer input[type="submit"]:hover,
main .notepad .poll-footer button:hover {
    background-color: #707070;
}

#submit-button {
    background-color: #cf2828;
}
#submit-button:hover {
    background-color: #e94747;
}
main .notepad .poll-footer input[type="checkbox"] {
    margin: 10px 0;
    margin-right: 5px;
}
/* #endregion notepad-footer */
/* #endregion Main */
/* #region Footer */
footer {
    background-color: #292929;
    width: 100%;
    min-height: 60px;
    font-family: Arial, sans-serif;
}
footer ul {
    text-align: center;
    list-style-type: none;
}
footer ul li {
    display: inline-block;
    padding: 5px 10px;
}
footer ul li a {
    color: #a9a9a9;
    text-decoration: none;
}
footer ul li a:hover {
    color: #c3c3c3;
}
footer .copyright {
    text-align: center;
    color: #fff;
    padding: 5px;
}
footer .copyright a {
    color: #fff;
    text-decoration: none;
}
/* #endregion Footer */